<!DOCTYPE html>
<html>
  <head>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <style>
          body{
              margin: 20px;
          }
          *{
              text-align: center;
          }
         
      </style>
       <title>{{ pageTitle }}</title>
  </head>
  <body>
      <h3>TO DO App</h3>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control"  placeholder="Please enter title..." id='title'>
                    <input type="text" class="form-control"  placeholder="Please enter description.." id='desc'>
                </div>
                <button type="submit" class="btn btn-primary" id='submit'>Submit</button>
            </form>
            <br/><hr/><br/>
            <table class="table table-striped" id='list'>
                <thead>
                        <td>ID</td>
                        <td>Title</td>
                        <td>Time</td>
                        <td>Status</td>
                        <td>Description</td>
                </thead>
                <tbody>
                    {{#each list}}
                    <tr>
                         {{!-- <td><%=this.id%></td>
                        <td><%=this.title%> </td>
                        <td><%=this.time%></td>
                        <td><%=this.status%> </td>
                        <td><%=this.description%> </td>  --}}
                        {{!-- <td>{{this.id}}</td>
                        <td>{{this.title}} </td>
                        <td>{{this.time}} </td>
                        <td>{{this.status}} </td>
                        <td>{{this.description}} </td> --}}
                    </tr>   
                    {{/each}}
                </tbody>
            </table>
        </div>
        <script>
            const listTable = document.getElementById('list')
            listTable.addEventListener('click',function(e){
                console.log(e.target.parentNode)
                //TODO...
                //send the request to toggle the item status
            })

            const submitBtn = document.getElementById('submit')
                submitBtn.addEventListener('click',function(e){
                    const titleInput = document.getElementById('title')
                    const descInput = document.getElementById('desc')

                    fetch('http://localhost:3000/todos', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({title:titleInput.value,description:descInput.value}),
                    })
                    .then(response => response.json())
                    .then(data => {console.log('Success:', data); alert('ADDED!')})
                    .catch((error) => {console.error('Error:', error);alert('ERROR!')});
                })
        </script>
  </body>
</html>